.case-study-section {
    background-color:#F3FDEF;
}

span {
    color: #62A943;
}

.digitalgenius-FAQ-section{
    background-color: #62A943;
    color: white;
}

.footer-section {
    background-color: black;
    color: white;
}